div{
    width: 600px;
    margin: 20px auto;
    padding: 50px;
    border: 1px solid seagreen;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
    margin-bottom: 30px;
}